:root {
  --clr-primary-200: hsl(333, 80%, 67%);
  --clr-primary-800: hsl(300, 43%, 22%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(300, 24%, 96%);
  --clr-neutral-800: hsl(303, 10%, 53%);

  --ff-primary: "Spartan", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-size: 15px;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h3 {
  color: var(--clr-primary-800);
}

p {
  color: var(--clr-neutral-800);
}

h4 {
  color: var(--clr-neutral-100);
}

.pink {
  background: none;
  color: var(--clr-primary-200);
}

.card {
  background-color: var(--clr-primary-800);
  border-radius: 0.75em 0.75em 0.75em 0.75em;
  margin: 1em 1em 1em 1em;
}

.card p {
  color: var(--clr-neutral-300);
  text-align: left;
  margin-top: 1em;
}

.card img {
  display: block;
  align-self: left;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}

.name {
  display: flex;
  flex-direction: column;
}

.name h4,
.name p {
  margin: 0;
}

.buyer {
  display: flex;
  flex-direction: row;
}

.buyer .name {
  margin-left: 1em;
}

.container {
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.stars > * + * {
  margin-left: 0.5em;
}

.rate {
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.rate h3 {
  margin-top: 1em;
}

.description {
  margin: 6em 2em 2em 2em;
}

.description h1 {
  margin-left: 1em;
  margin-right: 1em;
}

.description p {
  margin-top: 1em;
}

@media (max-width: 375px) {
}

@media (min-width: 375px) {
}
